<a href="/listArticles">Back</a>


    <h1>Title</h1>
    <p><%= article.title %></p>
    <h1>Article</h1>
    <p><%= article.description %></p>
    <p><%= article.createdAt %></p>

<a href="/edit/article/<%= article._id%>">Edit Article</a>
<a href="/delete/article/<%= article._id%>">Delete Article</a>