<a href="/">Back</a>

<form action="/edit/article/<%= article._id%>" method="POST">
    <h1>Title</h1>
    <input type="text" name="title" value="<%= article.title %>">
    <h1>Article</h1>
    <textarea name="description"><%= article.description %></textarea>
    <p><%= article.createdAt %></p>
    <button>Edit Article</button>
</form>
<a href="/delete/article/<%= article._id%>">Delete Article</a>